This is the first supplementary document to process raw power data from a PV monitroing company.

# All power readings data preprocessing

In order to buid such a power output model, we need to understand the data of power readings from each PV system in a zip code first. Here we preprocess bulk data by spliting data by zipcodes.

## Separate data files based on zipcodes

There are two kind data files here. The first kind $\texttt{metadata}$ where each row represents one PV component containing ID, latitude, longitude, zip code, timezone, and possibly installation size. The second data file is $\texttt{timeseriesdata}$ where each row represents one power reading instance containing time, PV component ID, and power.

We specify data source and year we would like to process the data here. Thank you our data provider for helping us finding the future of clean energy. (Our data source is confidential though).

In [67]:
datasource = 'L'

Here we import package for data analysis called 'pandas' and specify directory.

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
dataDir = 'C:\Users\Tee\Documents\Thesis\data' #this is main directory in ICME with raw data

We have two year data 2013 and 2014. Let's pull up metadata.csv first.

In [69]:
metadata_2013 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2013' +'/'+'raw/metadata.csv',
                       dtype={'componentId':'object','zip':'object'})
metadata_2014 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2014' +'/'+'raw/metadata.csv',
                       dtype={'componentId':'object','zip':'object'})
metadata_2015 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2015' +'/'+'raw/metadata.csv',
                       dtype={'componentId':'object','zip':'object'})

Here is how $\texttt{metadata}$ looks like:

In [70]:
metadata_2013[:1]

                nodeId componentId  latitude  longitude    zip          tz
0  00:04:A3:A1:CA:B3.1     2023207  40.01211  -74.63209  08640  US/Eastern

In [71]:
metadata_2014[:1]

  componentId sizeBucket  latitude  longitude    zip          timezone
0         602     0-1 kW     41.46     -72.91  06410  America/New_York

In [72]:
metadata_2015[:1]

  componentId sizeBucket  latitude  longitude    zip             timezone
0        5218     3-5 kW     33.55    -117.16  92563  America/Los_Angeles

Check inclusion

In [73]:
set(metadata_2013['componentId']).issubset(set(metadata_2014['componentId']))

True

In [74]:
set(metadata_2014['componentId']).issubset(set(metadata_2015['componentId']))

False

Here we look how many zipcodes and some quick statistics on each zipcode.

In [75]:
metadata_2013[['zip','componentId']].groupby(['zip']).agg(['count'])

      componentId
            count
zip
08640         180
08641         738
92562          43
92563          42

In [76]:
metadata_2014[['zip','componentId']].groupby(['zip']).agg(['count'])

      componentId
            count
zip
06010         283
06082         231
06084         303
06410         224
08640         181
08641         738
92562         329
92563         249

In [77]:
metadata_2015[['zip','componentId']].groupby(['zip']).agg(['count'])

      componentId
            count
zip
08640         128
08641         738
92562         382
92563         317

For 2014 and 2015 data, we have information on installed kW range of components (column name: sizeBucket). Note that exact value is confidential and some sites do not have this information. See the distribution here.

In [78]:
z = '08641'
d = metadata_2014[metadata_2014.zip == z]
d[['componentId','sizeBucket']].groupby(['sizeBucket']).agg(['count'])
#sum of this table = 112+2+94+3+124+4 = 339 < 738 (399 components have no kW range info)

           componentId
                 count
sizeBucket
10-20 kW           112
2-3 kW               2
20-50 kW            94
3-5 kW               3
5-10 kW            124
50-100 kW            4

In [79]:
z = '08641'
d = metadata_2015[metadata_2014.zip == z]
d[['componentId','sizeBucket']].groupby(['sizeBucket']).agg(['count'])
#sum of this table = 112+2+94+3+124+4 = 339 < 738 (399 components have no kW range info)

           componentId
                 count
sizeBucket
10-20 kW            98
2-3 kW               3
20-50 kW            44
3-5 kW              32
5-10 kW            235
50-100 kW            4

Let's combine all metadata (2013 is included in 2014 already).

In [80]:
metadata = metadata_2014.append(metadata_2015, ignore_index = True)
metadata.drop_duplicates(subset='componentId',inplace=True)
metadata[['zip','componentId']].groupby(['zip']).agg(['count'])

      componentId
            count
zip
06010         283
06082         231
06084         303
06410         224
08640         182
08641         738
92562         409
92563         329

Now we read all timeseries data files.

In [81]:
timeseriesdata2013_1 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2013' +'/'+'raw/timeseriesdata.csv',
                             dtype={'componentId':'object'})
timeseriesdata2014_1 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2014' +'/'+'raw/timeseriesdata.csv',
                             dtype={'componentId':'object'})
timeseriesdata2014_2 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2014' +'/'+'raw/timeseriesdata_2.csv',
                             dtype={'componentId':'object'})
timeseriesdata2014_3 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2014' +'/'+'raw/timeseriesdata_3.csv',
                             dtype={'componentId':'object'})
timeseriesdata2015_1 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2015' +'/'+'raw/data1.csv',
                             dtype={'componentId':'object'})
timeseriesdata2015_2 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2015' +'/'+'raw/data2.csv',
                             dtype={'componentId':'object'})
timeseriesdata2015_3 = pd.read_csv(dataDir + '/PV/' + datasource +'/'+ '2015' +'/'+'raw/data3.csv',
                             dtype={'componentId':'object'})

#remove comma
timeseriesdata2013_1['componentId'] = timeseriesdata2013_1['componentId'].map(lambda x: x.replace(',',''))
timeseriesdata2014_1['componentId'] = timeseriesdata2014_1['componentId'].map(lambda x: x.replace(',',''))
timeseriesdata2014_2['componentId'] = timeseriesdata2014_2['componentId'].map(lambda x: x.replace(',',''))
timeseriesdata2014_3['componentId'] = timeseriesdata2014_3['componentId'].map(lambda x: x.replace(',',''))
timeseriesdata2015_1['componentId'] = timeseriesdata2014_1['componentId'].map(lambda x: x.replace(',',''))
timeseriesdata2015_2['componentId'] = timeseriesdata2014_2['componentId'].map(lambda x: x.replace(',',''))
timeseriesdata2015_3['componentId'] = timeseriesdata2014_3['componentId'].map(lambda x: x.replace(',',''))

Here is how $\texttt{timeseriesdata}$ looks like:

In [82]:
timeseriesdata2013_1[:1]

                 tsUTC componentId  power
0  2013-01-01 00:00:00      467500  0.275

In [83]:
timeseriesdata2014_1[:1]

  componentId                  tsUTC  powerKw
0        1455  2014-01-01 00:00:00.0        0

In [84]:
timeseriesdata2014_2[:1]

  componentId                  tsUTC  powerKw
0     2030559  2014-09-18 08:15:00.0        0

In [85]:
timeseriesdata2014_3[:1]

  componentId                  tsUTC  powerKw
0     2055667  2014-04-27 13:45:00.0  0.05367

In [86]:
timeseriesdata2015_1[:1]

  componentId                            tsUTC  powerKw
0        1455  2015-01-01 00:00:00.000000-0800    0.388

In [87]:
timeseriesdata2015_2[:1]

  componentId                            tsUTC  powerKw
0     2030559  2015-02-05 13:00:00.000000-0800    0.143

In [88]:
timeseriesdata2015_3[:1]

  componentId                            tsUTC   powerKw
0     2055667  2015-06-01 01:15:00.000000-0700  0.232333

Here we would like to establish same column names through all data frames. Hence we rename column on power reading and reorder them.

In [89]:
timeseriesdata2014_1=timeseriesdata2014_1.rename(columns = {'powerKw':'power'})
timeseriesdata2014_2=timeseriesdata2014_2.rename(columns = {'powerKw':'power'})
timeseriesdata2014_3=timeseriesdata2014_3.rename(columns = {'powerKw':'power'})
timeseriesdata2015_1=timeseriesdata2015_1.rename(columns = {'powerKw':'power'})
timeseriesdata2015_2=timeseriesdata2015_2.rename(columns = {'powerKw':'power'})
timeseriesdata2015_3=timeseriesdata2015_3.rename(columns = {'powerKw':'power'})

In [90]:
timeseriesdata2013_1=timeseriesdata2013_1[['componentId','tsUTC','power']]

We would like to process power readings data under each zipcode. So we split and write data files according to zipcodes.

$\textbf{Warning:}$ this process may take a long time.

In [91]:
#ziplist = ['08640','92563'] #list(set(metadata['zip'])) if want to process all zipcode
ziplist = ['08640','08641','92562','92563']

for z in ziplist:
    timeseriesdataByZip = pd.DataFrame()
    metadataByZip = metadata[metadata.zip == z]
    l = list(metadataByZip['componentId'])

    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2013_1.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2013_1.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2014_1.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2014_1.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2014_2.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2014_2.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2014_3.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2014_3.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2015_1.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2015_1.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2015_2.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2015_2.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    timeseriesdataByZip = timeseriesdataByZip.append(timeseriesdata2015_3.iloc[[i for i, 
                                                   elem in enumerate(timeseriesdata2015_3.componentId.map(lambda x: x in l)) if elem]],
                                                     ignore_index = True)
    directory = dataDir + '/PV/' + datasource +'/' + z
    if not os.path.exists(directory):
        os.makedirs(directory)
    metadataByZip.to_csv(directory+"/metadata.csv",index=False)
    timeseriesdataByZip.to_csv(directory+"/timeseriesdata.csv",index=False)